.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../info_background.png);
    border: 0px groove yellow;
}

.inputbox{
  position: absolute;
  left: 55px;
  top: 170px;
}

.titletextbox {
    position: absolute;
    left: 55px;
    top: 120px;
    z-index: 4;
    font-size: x-large;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.back {
    background: none;
    background-image: url(../back_button.png);
    left: 0px;
    top: 0px;
    width: 140px;
    height: 60px;
}

.greenlight {
    position: absolute;
    background-image: url(../green_light.png);
    left: 700px;
    top: 40px;
    width: 45px;
    height: 100px;
}

.redlight {
    position: absolute;
    background-image: url(../red_light.png);
    left: 700px;
    top: 40px;
    width: 45px;
    height: 100px;
}