.container {
    position: relative;
}

.inputbox{
    position: relative;
    left: 300px;
    top: 250px;
    z-index:1;
}

.video {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 500px;
    background-image: url(../horizontalcorridor_locked.png);
    border: 0px groove yellow;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    background: blue;
    border: 0px solid blue;
}

.click-zone.a {
    left: 0px;
    top: 0px;
    width: 30px;
    height: 500px;
}

.testtextbox {
    position: absolute;
    left: 270px;
    top: 150px;
    z-index: 3;
    font-size: xx-large;
}


