.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background-image: url(../horizontalcorridor.png);
    border: 0px groove yellow;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    background: blue;
    border: 0px solid blue;
}

.click-zone.a {
    left: 0px;
    top: 0px;
    width: 30px;
    height: 500px;
}

.click-zone.b {
    left: 770px;
    top: 0px;
    width: 30px;
    height: 500px;
}

.testtextbox {
    position: absolute;
    left: 350px;
    top: 150px;
    z-index: 3;
    font-size: xx-large;
}
