.container {
    position: relative;
}

.footer {
    position: absolute;
    left: 0;
    top: 500px;
    width: 800px;
    height: 50px;
    background: black;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}


