.container {
    position: relative;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 500px;
    background: black;
    border: 0px groove yellow;
}

.click-zone {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.click-zone.reset {
    background: red;
    border: 0px solid black;
    left: 275px;
    top: 245px;
    width: 280px;
    height: 60px;
    font-size: 50px;
}

.testtextbox {
    position: absolute;
    left: 210px;
    top: 100px;
    z-index: 3;
    font-size: 60px;
}

.click-zone.survey {
    background: green;
    border: 0px solid black;
    left: 275px;
    top: 340px;
    width: 280px;
    height: 60px;
    font-size: 50px;
}

.uuidtextbox{
    position: absolute;
    background: black;
    left: 0px;
    top: 480px;
    width: 800px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}