<div class="container">
    <div class="inputbox">
        <input type="checkbox" id="room3checkbox_1">
        <label for="room3checkbox"> Open Door?</label><br>
        <input type="checkbox" id="room3checkbox_2">
        <label for="room3checkbox"> Open Door?</label><br>
        <input type="checkbox" id="room3checkbox_3">
        <label for="room3checkbox"> Open Door?</label><br>
        <input type="range" id= "room3slider" min = 0 max = 100 value = 0 step = 1>
        <label for="room3slider"> Open Door?</label><br>
    </div>
      <div class="video"></div>
      <div class="click-zone a" data-zone="Left"></div>
      <div class="click-zone b" data-zone="Right"></div>
      <div class="testtextbox">Room 3 - Locked</div>
  </div>
    
